body {
    padding: 0;
    margin: 0;
    font-family: 'Rosario' sans-serif;
}

header {
    background-color: #333333;   
    display: flex;
    
}

header ul {
    list-style: none;
    
}

img {
    padding: 20px 20px 20px 20px;
}

header li a {
    text-decoration: none;
    color: white;
    
}

#About {
    color: goldenrod;
    background-color: transparent;
    border-bottom: 5px solid goldenrod;
    padding-bottom: 22px
  }

.fa-search {
    color: white;
    
}

#SIGNUP {
    color: goldenrod;
} 

#FAQ {
    padding-right: 130px;
}

.vl {
    
    display: inline;
    border-style: solid;
    color: white;
}

nav li {
    display: inline;
    padding: 0 20px 0 20px;
}

.arrow {
    border: solid goldenrod;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

#Section1 {
    background-color: goldenrod;
    overflow: hidden;
}

#Section1 h1 {
    color: white;
    padding: 0 100px 0 200px;
    padding-bottom: 30px;
}

#Section1 p {
    padding: 0 150px 0 200px;
    font-size: 12px;
}

#Section1 hr {
    margin-left: 100px;
    border: 2px solid black;
}

#PHOTO {
    float: left;
}

#Section2 {
    margin-bottom: 100px;
}

#Section2 h1 {
    margin-top: 130px;
    text-align: center;
}

#Section2 hr {
    margin-left: 435px;
}

#Section2 p {
    padding-left: 12%;
    padding-right: 12%;
    margin-top: 50px;
    text-align: center;
}

#Section3 {
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 100px;
}

.grid-item {
    border: 0;
    font-size: 17px;
    text-align: center;
    padding-right: 40px;
}

#Section4 {
    display: flex;    
} 

#Section4 h1 {
    color: white;
}

.Contain {
    flex-basis: 50%;
    text-align: center;
    background-color: goldenrod;
    margin-top: 20px;
    margin-bottom: 80px;
    padding-right: 50px;
    padding-left: 50px;
    
}

.Contain2 {
    flex-grow: 1;
}

.Contain2 img {
    padding-left: 0;
    padding-right: 100px;
}

#Section5 img {
    padding-left: 30px;
    padding-bottom: 0;
}

#Section5 h1 {
    text-align: center;
    color: #333333;
    font-family: rosario;
}

hr {
    width: 50px;
    border-top: 1px solid #F9B634 ;
    margin-left: 435px;
    margin-bottom: 70px;
}

#Section5 h6 {
    font-size: 13px;
}

#Section5 p {
    font-size: 9px;    
}

#Section6 {
    padding-bottom: 100px;
    margin-left: 400px;
}

#Section6 a {
    padding: 10px 20px;
    border: 1px solid goldenrod;
    background-color: transparent;
    color: black;
    text-decoration: none;
    
}

footer {
    background-color: #333333;
    display: flex;
    padding-left: 10px;
    padding-bottom: 50px;
    
    
}

footer h2 {
    color: #F9B634;
   
} 

footer p {
    color: #E0E0E0;
    font-size: 12px;
}

footer .sub1 {
    padding-right: 50px;
    padding-left: 150px;
 
}

footer .sub2 {
    padding-right: 50px;
}

footer .sub3 {
    padding-right: 50px;
  
}

footer .sub3 p {
    line-height: 0.5em;
}

footer input {
    border: 0;
    border-bottom: 2px solid white;
    background-color: #333333;
    margin-top: 70px;
    
  
}

footer button {
    background-color: #333333;
    padding: 0;
    margin: 0;
    border: 0;
    
    
}

